{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}
{% block content %}
{#    right side #}
     <div class="form-wrapper h-screen">
         <h1 class = "form-h1">Forgot Your Password?</h1>

    <div class='login-form'>
      <p>Enter your e-mail address to obtain a new password.</p>
         <form method='post' class ="--form-wrapper">
        {{ form.as_p }}
        <p><input class="text-[#ffffff] hover:text-[#ffff] bg-blue-500 hover:bg-blue-700" type="submit" value='Send e-mail'></p>
        {% csrf_token %}
        </form>

     </div>
     </div>
{% endblock %}