{% extends "base.html" %} 
{% block title %}Reset your password{% endblock %}

{% block content %}
    {#    right side #}
     <div class="form-wrapper h-screen">
         <h1 class = "form-h1">Reset your password</h1>
     {% if validlink %}
         <div class='login-form'>
        <form method='post'>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="text-[#ffffff] w-full hover:text-[#ffff] bg-blue-500 hover:bg-blue-700 mt-2" type='submit' value='Change my password'></p>
        </form>
        </div>
    {% else %}
        <p>The Password reset link was invalid. possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
     </div>>
{% endblock %}